In [1]:
import pandas as pd
import numpy as np
import os
from natsort import natsorted
import sklearn

In [6]:
A = np.array([1,2,3,4])
A , type(A)

(array([1, 2, 3, 4]), numpy.ndarray)

In [34]:
max_row = 9
max_col = 9

In [110]:
table = pd.DataFrame() # 빈테이블 만들기
for col in range(0): # for loop # 열 순회
    single_col = [] # 빈 줄
    for row in range(9): # 행 순회
        single_col.append(col*row)
    df_single_col = pd.DataFrame(single_col, columns=[f'한줄단'])
    # df_single_row = single_col
    table = pd.concat([table,df_single_col], axis=1, ignore_index=True)

In [111]:
empty_arr = []

In [112]:
empty_arr.append(30)

In [113]:
empty_arr

[30]

In [114]:
table

   0  1   2   3   4   5   6   7   8
0  0  0   0   0   0   0   0   0   0
1  0  1   2   3   4   5   6   7   8
2  0  2   4   6   8  10  12  14  16
3  0  3   6   9  12  15  18  21  24
4  0  4   8  12  16  20  24  28  32
5  0  5  10  15  20  25  30  35  40
6  0  6  12  18  24  30  36  42  48
7  0  7  14  21  28  35  42  49  56
8  0  8  16  24  32  40  48  56  64

In [108]:
table.to_excel(f"timesTable_{max_row}rows_{max_col}cols.xlsx") # 저장하자!

In [31]:
A = 5
if A == 4:
    print('4인데?')
elif A ==5:
    print("4는 아니고 5인데?")

4는 아니고 5인데?

In [33]:
A = 5
if A == 4:
    print('4인데?')
else:
    print("아무튼 4는 아님")

아무튼 4는 아님