In [3]:
import numpy as np
import pandas as pd

In [4]:
multiData = pd.read_excel("multidata.xlsx")
multiData

     Child Unnamed: 1 Unnamed: 2 Unnamed: 3
0       ID     Height        Age      Smoke
1        0   0.267431   0.597488   0.022855
2        1   0.536555   0.912668   0.038882
3        2   0.251856   0.800605   0.399466
4        3   0.396744   0.856063   0.937846
...    ...        ...        ...        ...
3002  1496   0.790225   0.828435   0.133165
3003  1497   0.381856   0.157714   0.245285
3004  1498   0.239973   0.719497   0.988993
3005  1499   0.283642   0.344215   0.350183
3006  1500   0.314309   0.541617   0.894791

[3007 rows x 4 columns]

In [14]:
multiData.loc[multiData.iloc[:,0]==153]

     Child Unnamed: 1 Unnamed: 2 Unnamed: 3
154    153   0.974369   0.825151   0.696704
1659   153   0.565828   0.828873   0.588837

In [6]:
multiData.loc[multiData.iloc[:,0].isna()]

     Child Unnamed: 1 Unnamed: 2 Unnamed: 3
1502   NaN        NaN        NaN        NaN
1503   NaN        NaN        NaN        NaN

In [16]:
multiData.iloc[1506:,2:4]

     Unnamed: 2 Unnamed: 3
1506   0.123289   0.256027
1507   0.746695   0.715898
1508   0.592216   0.405693
1509   0.068768   0.450285
1510   0.660536   0.007035
...         ...        ...
3002   0.828435   0.133165
3003   0.157714   0.245285
3004   0.719497   0.988993
3005   0.344215   0.350183
3006   0.541617   0.894791

[1501 rows x 2 columns]

In [19]:
A = [1,2,3,4,5,6]
A[1:3] +A[3:5],A[1:5]

([2, 3, 4, 5], [2, 3, 4, 5])

In [18]:
A[1:5]

[2, 3, 4, 5]