## 학습목표
 1. merge & join 함수 활용하기

In [1]:
import numpy as np
import pandas as pd

#### dataframe merge
 - SQL의 join처럼 특정한 column을 기준으로 병합
   - join 방식: how 파라미터를 통해 명시
     - inner: 기본값, 일치하는 값이 있는 경우 
     - left: left outer join
     - right: right outer join
     - outer: full outer join
     
 - pandas.merge 함수가 사용됨

In [2]:
customer = pd.DataFrame({'customer_id' : np.arange(6), 
                    'name' : ['철수'"", '영희', '길동', '영수', '수민', '동건'], 
                    '나이' : [40, 20, 21, 30, 31, 18]})

customer

   customer_id name  나이
0            0   철수  40
1            1   영희  20
2            2   길동  21
3            3   영수  30
4            4   수민  31
5            5   동건  18

In [4]:
orders = pd.DataFrame({'customer_id' : [1, 1, 2, 2, 2, 3, 3, 1, 4, 9], 
                    'item' : ['치약', '칫솔', '이어폰', '헤드셋', '수건', '생수', '수건', '치약', '생수', '케이스'], 
                    'quantity' : [1, 2, 1, 1, 3, 2, 2, 3, 2, 1]})
orders.head()

   customer_id item  quantity
0            1   치약         1
1            1   칫솔         2
2            2  이어폰         1
3            2  헤드셋         1
4            2   수건         3

* on 
 - join 대상이 되는 column 명시

In [5]:
pd.merge(customer, orders, on='customer_id', how='inner')

   customer_id name  나이 item  quantity
0            1   영희  20   치약         1
1            1   영희  20   칫솔         2
2            1   영희  20   치약         3
3            2   길동  21  이어폰         1
4            2   길동  21  헤드셋         1
5            2   길동  21   수건         3
6            3   영수  30   생수         2
7            3   영수  30   수건         2
8            4   수민  31   생수         2

In [ ]:
pd.merge(customer, orders, on='customer_id', how='left')

In [ ]:
pd.merge(customer, orders, on='customer_id', how='right')

In [ ]:
pd.merge(customer, orders, on='customer_id', how='outer')

* index 기준으로 join하기

In [ ]:
cust1 = customer.set_index('customer_id')
order1 = orders.set_index('customer_id')

In [ ]:
cust1

In [ ]:
order1

In [ ]:
pd.merge(cust1, order1, left_index=True, right_index=True)

#### 연습문제
1. 가장 많이 팔린 아이템은?
2. 영희가 가장 많이 구매한 아이템은?

In [ ]:
pd.merge(customer, orders, on='customer_id').groupby('item').sum().sort_values(by='quantity', ascending=False)

In [ ]:
pd.merge(customer, orders, on='customer_id').groupby(['name', 'item']).sum().loc['영희', 'quantity']

#### join 함수
 - 내부적으로 pandas.merge 함수 사용
 - 기본적으로 index를 사용하여 left join

In [ ]:
cust1.join(order1, how='inner')