In [13]:
import pandas as pd
import numpy as np
import os
from natsort import natsorted
import sklearn

In [14]:
A = np.array([1,2,3,4])
A , type(A)

(array([1, 2, 3, 4]), numpy.ndarray)

In [15]:
max_row = 9
max_col = 9

In [16]:
table = pd.DataFrame() # 빈테이블 만들기
for col in range(0): # for loop # 열 순회
    single_col = [] # 빈 줄
    for row in range(9): # 행 순회
        single_col.append(col*row)
    df_single_col = pd.DataFrame(single_col, columns=[f'한줄단'])
    # df_single_row = single_col
    table = pd.concat([table,df_single_col], axis=1, ignore_index=True)

In [18]:
table

Empty DataFrame
Columns: []
Index: []

In [108]:
table.to_excel(f"timesTable_{max_row}rows_{max_col}cols.xlsx") # 저장하자!