In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.random.rand(101,3)

pd.DataFrame(a, columns=['x', 'y', 'z'])

            x         y         z
0    0.773130  0.196687  0.306086
1    0.666878  0.127743  0.000684
2    0.978590  0.345234  0.934364
3    0.982029  0.169634  0.945431
4    0.151813  0.220491  0.211493
..        ...       ...       ...
96   0.014650  0.209566  0.537037
97   0.221998  0.580790  0.481736
98   0.421287  0.559449  0.213418
99   0.774742  0.696013  0.887086
100  0.665683  0.933278  0.633960

[101 rows x 3 columns]

In [3]:
data = pd.DataFrame(a, columns=['x', 'y', 'z'])
data.to_excel('엑셀만들기.xlsx', sheet_name='1쪽',index=False)