## 학습목표
 1. list, tuple에 대해 이해 및 실습

### **리스트 & 튜플**
 * 복수개의 값을 담을 수 있는 데이터 구조
 * 실생활에서 사용하는 리스트(학생 리스트, 성적 리스트 등등)과 동일한 의미로 이해
 * list - mutable    (생성된 후에 변경 가능)  
 * tuple - immutable (생성된 후에 변경 불가능)

#### **리스트 초기화**
 - [] 안에 값을 담아서 생성
 - list() 함수로 생성
 - str.split()함수로 생성

In [1]:
a=[]
print(a)

[]

In [3]:
a =[1, 2, 3, 5, 10]
print(a)

[1, 2, 3, 5, 10]

In [4]:
a = ['Son', 'TottenHam', 7, 10, [30,26]]
print(a)

['Son', 'TottenHam', 7, 10, [30, 26]]

* **list() 함수**
 + 다른 데이터 타입을 리스트로 변환할 때도 사용

In [10]:
a ='hello world'
b = list(a)
print(b)

c = (1, 2, 3)
d = list(c)
print(d)

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[1, 2, 3]

+ **string split 함수**
 * 구분자로 구분되는 리스트를 반환 (빈번히 사용 됨)

In [13]:
a = 'hello world nice weather'
b = a.split()

print (b)

['hello', 'world', 'nice', 'weather']

#### **리스트 indexing**
 * 문자열의 인덱싱과 동일하게 동작
 * [] 연산자를 이용하여 항목 얻어오기
 * [i] - i번째 원소를 반환
 * i가 음수인 경우도 가능하며 마지막원소가 -1로 하여 앞으로 갈때마다 1씩 감소함

In [17]:
a = [1, 2, 3, 4, 5, 6]
print(a[2])
print(a[5])
print(a[-2])
print(a[0])

3
6
5
1

#### **리스트 개별 아이템에 접근**
 - 인덱스에 접근하여 값을 업데이트 가능

In [11]:

a = 'hello world'
print(a[0])

b = 'jello world'
c = 'j' + a[2:]
print(c)
d = a.replace('h', 'j')
print(d)
print(a)

h
jllo world
jello world
hello world

In [25]:
a = ['Son', 'Kane', 'Christiano', 'Messi']
a[2] = 'Mangnani'
a[-1] = 'Nanjangie'
print (a)

['Son', 'Kane', 'Mangnani', 'Nanjangie']

#### **리스트 slicing**
 - 문자열 슬라이싱과 동일하게 동작
 - 슬라이싱의 결과 역시 list!

In [44]:
#리스트 앞 숫자는 포함 뒷 숫자는 제외
a = [7, 10, 13, 30]
b = '7101330'
print (a[0:])
print (b[:7])
print (a[2])
print (b[3:5])
a[1:3]

[7, 10, 13, 30]
7101330
13
13

[10, 13]

### list 멤버 함수
 - 생성된 리스트 객체에 동작하는 함수
 - 향후, 클래스와 멤버 함수 개념을 이해할 예정

* **append()**
 + 리스트의 끝에 항목을 추가함

In [46]:
a = ['son', 'kane', 'christiano', 'messi']
a.append('HJKIM')
print(a)

['son', 'kane', 'christiano', 'messi', 'HJKIM']

+ **extend()**
 * 리스트를 연장
 * += 로도 가능함

In [51]:
a = ['son', 'kane', 'christiano', 'messi']
b = ['bale', 'jspark', 'chaboom']
a.extend(b)
print(a)

['son', 'kane', 'christiano', 'messi', 'bale', 'jspark', 'chaboom']

+ **insert()로 항목추가**
 * 리스트의 원하는 위치에 추가 가능
 * 앞에 인덱스를, 뒤에 아이템을 명시

In [62]:
#숫자는 되는데 문자는 오류, 숫자 두개를 넣어도 1개만 출력
a = ['son', 'kane', 'christiano', 'messi']
b = ['bale', 'jspark', 'chaboom']
a.insert(b)
print(a)

TypeError: insert expected 2 arguments, got 1

+ **remove()**
 * 값으로 항목 삭제

In [64]:
a = ['son', 'kane', 'christiano', 'messi']
a.remove(a[1])
print (a)

['son', 'christiano', 'messi']

+ **pop()**
  - 지우고자 하는 아이템을 반환 후, 삭제

In [67]:
#integer 들만 되는 함수가 있고 아닌 함수가 있는건가요
a = ['son', 'kane', 'christiano', 'messi']
d = a.pop(a[2])
print (a)
print (d)

TypeError: 'str' object cannot be interpreted as an integer

+ **index()**
 * 찾고자 하는 값의 인덱스 반환

In [69]:
a = ['son', 'kane', 'christiano', 'messi']
a.index('christiano')

2

* **in 키워드**
 + 리스트 내에 해당 값이 존재하는지 확인
 + value in [list]
 + True, False 중 한가지로 반환

In [73]:
a = ['son', 'kane', 'christiano', 'messi']
b = ('christiano')

c=b in a 

print(c)

True

In [ ]:
a = [9, 10, 7, 19, 1, 2, 20, 21, 7, 8]
a.sort(reverse=True)
b = sorted(a)
print(a)
print(b)

* **list 정렬**
 + sort() -> 리스트 자체를 내부적으로 정렬
 + sorted() -> 리스트의 정렬된 복사본을 반환

In [18]:
a = [1,3,9,5,6,7,8,2,4,10]
a.sort()
print (a)
a.sort(reverse=True)
print (a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

### **tuple**
 - 리스트와 같이 복수개의 값을 갖는 컬렉션 타입
 - 생성된 후 변경이 불가능

In [23]:
a = [1,2,3]
b = (1,2,3)

print(type(a))
print(type(b))

a[0] = 100
print(a)

b[0] = 100
print(b)

<class 'list'>
<class 'tuple'>
[100, 2, 3]

TypeError: 'tuple' object does not support item assignment

#### **tuple unpacking**
 - 튜플의 값을 차례대로 변수에 대입

In [24]:
a, b, c, d = 100, 200, 300, 400
print(a, b, c, d)

100 200 300 400

* **연습문제** a와 b의 값을 교환하시오

In [25]:
a = 5
b = 4

print(a, b)

5 4

In [29]:
#print (a, b) 랑 (a,b)랑 달라요.
a, b = b, a
print(a, b)

5 4