## 학습목표
 1. DataFrame groupby 이해하기

In [2]:
import pandas as pd
import numpy as np

#### group by
  + 아래의 세 단계를 적용하여 데이터를 그룹화(groupping) (SQL의 group by 와 개념적으로는 동일, 사용법은 유사)
    - 데이터 분할
    - operation 적용
    - 데이터 병합

In [3]:
# data 출처: https://www.kaggle.com/hesh97/titanicdataset-traincsv/data
df = pd.read_csv('./train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

#### GroupBy groups 속성
 - 각 그룹과 그룹에 속한 index를 dict 형태로 표현

In [ ]:
class_group = df.groupby('Pclass')
class_group

In [ ]:
class_group.groups

In [ ]:
gender_group = df.groupby('Sex')
gender_group.groups

#### groupping 함수
 - 그룹 데이터에 적용 가능한 통계 함수(NaN은 제외하여 연산)
 - count - 데이터 개수 
 - sum   - 데이터의 합
 - mean, std, var - 평균, 표준편차, 분산
 - min, max - 최소, 최대값

In [ ]:
class_group.count()

In [ ]:
class_group.mean()['Survived']

In [ ]:
class_group.max()

In [ ]:
class_group.max().index

* 성별에 따른 생존율 구해보기

In [ ]:
df.groupby('Sex').mean()['Survived']

#### 복수 columns로 groupping 하기
 - groupby에 column 리스트를 전달
 - 통계함수를 적용한 결과는 multiindex를 갖는 dataframe

* 클래스와 성별에 따른 생존률 구해보기

In [ ]:
df.groupby(['Pclass', 'Sex']).mean()['Survived']

In [ ]:
df.groupby(['Pclass', 'Sex']).mean().loc[(2, 'female')]

In [ ]:
df.groupby(['Pclass', 'Sex']).mean().index

#### index를 이용한 group by
 - index가 있는 경우, groupby 함수에 level 사용 가능
   - level은 index의 depth를 의미하며, 가장 왼쪽부터 0부터 증가

* **set_index** 함수
 - column 데이터를 index 레벨로 변경
* **reset_index** 함수
 - 인덱스 초기화

In [ ]:
df.head()

In [ ]:
df.set_index(['Pclass', 'Sex']).reset_index()

In [ ]:
df.set_index('Age').groupby(level=0).mean()

#### 나이대별로 생존율 구하기

In [ ]:
import math
def age_categorize(age):
    if math.isnan(age):
        return -1
    return math.floor(age / 10) * 10

In [ ]:
df.set_index('Age').groupby(age_categorize).mean()['Survived']

#### MultiIndex를 이용한 groupping

In [ ]:
df.set_index(['Pclass', 'Sex']).groupby(level=[0, 1]).mean()['Age']

#### aggregate(집계) 함수 사용하기
 - groupby 결과에 집계함수를 적용하여 그룹별 데이터 확인 가능

In [ ]:
df.set_index(['Pclass', 'Sex']).groupby(level=[0, 1]).aggregate([np.mean, np.sum, np.max])