In [147]:
import numpy as np
import pandas as pd

In [148]:
tms_l_data = pd.read_table("Lfemi_aver.txt")
tms_l_data.head()

        s     ADC 0     ADC 1
0 -0.1000  0.004368  0.004234
1 -0.0998  0.004514  0.004183
2 -0.0996  0.004438  0.004056
3 -0.0994  0.004514  0.004139
4 -0.0992  0.004520  0.004107

In [149]:
#left Hz = 5000
1/(tms_l_data['s'][1] - tms_l_data['s'][0])

4999.999999999857

In [150]:
tms_r_data = pd.read_table("Rfemi_aver.txt")
tms_r_data.head()

        s     ADC 0     ADC 1
0 -0.1000  0.004520  0.004158
1 -0.0998  0.004470  0.004120
2 -0.0996  0.004482  0.003929
3 -0.0994  0.004292  0.004145
4 -0.0992  0.004361  0.004190

In [151]:
#right Hz = 5000
1/(tms_r_data['s'][1] - tms_r_data['s'][0])

4999.999999999857

In [152]:
tms_l_data_pre = tms_l_data[0:500]
tms_r_data_pre = tms_r_data[0:500]
print(tms_l_data_pre)
print(tms_r_data_pre)

          s     ADC 0     ADC 1
0   -0.1000  0.004368  0.004234
1   -0.0998  0.004514  0.004183
2   -0.0996  0.004438  0.004056
3   -0.0994  0.004514  0.004139
4   -0.0992  0.004520  0.004107
..      ...       ...       ...
495 -0.0010  0.004260  0.004260
496 -0.0008  0.004419  0.004088
497 -0.0006  0.004597  0.004304
498 -0.0004  0.004476  0.004171
499 -0.0002  0.004476  0.004005

[500 rows x 3 columns]
          s     ADC 0     ADC 1
0   -0.1000  0.004520  0.004158
1   -0.0998  0.004470  0.004120
2   -0.0996  0.004482  0.003929
3   -0.0994  0.004292  0.004145
4   -0.0992  0.004361  0.004190
..      ...       ...       ...
495 -0.0010  0.004597  0.004323
496 -0.0008  0.004311  0.004063
497 -0.0006  0.004571  0.004183
498 -0.0004  0.004406  0.004088
499 -0.0002  0.004520  0.004285

[500 rows x 3 columns]

In [153]:
tms_l_data_pre['R_Mean'] = np.mean(tms_l_data['ADC 0'][0:500])
tms_l_data_pre['L_Mean'] = np.mean(tms_l_data['ADC 1'][0:500])
tms_l_data_pre['R_5SD'] = 5*np.std(tms_l_data['ADC 0'][0:500])
tms_l_data_pre['L_5SD'] = 5*np.std(tms_l_data['ADC 1'][0:500])
print(tms_l_data_pre)

          s     ADC 0     ADC 1    R_Mean   L_Mean     R_5SD     L_5SD
0   -0.1000  0.004368  0.004234  0.004435  0.00415  0.000538  0.000528
1   -0.0998  0.004514  0.004183  0.004435  0.00415  0.000538  0.000528
2   -0.0996  0.004438  0.004056  0.004435  0.00415  0.000538  0.000528
3   -0.0994  0.004514  0.004139  0.004435  0.00415  0.000538  0.000528
4   -0.0992  0.004520  0.004107  0.004435  0.00415  0.000538  0.000528
..      ...       ...       ...       ...      ...       ...       ...
495 -0.0010  0.004260  0.004260  0.004435  0.00415  0.000538  0.000528
496 -0.0008  0.004419  0.004088  0.004435  0.00415  0.000538  0.000528
497 -0.0006  0.004597  0.004304  0.004435  0.00415  0.000538  0.000528
498 -0.0004  0.004476  0.004171  0.004435  0.00415  0.000538  0.000528
499 -0.0002  0.004476  0.004005  0.004435  0.00415  0.000538  0.000528

[500 rows x 7 columns]

C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\2884625888.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_l_data_pre['R_Mean'] = np.mean(tms_l_data['ADC 0'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\2884625888.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_l_data_pre['L_Mean'] = np.mean(tms_l_data['ADC 1'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\2884625888.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_l_data_pre['R_5SD'] = 5*np.std(tms_l_data['ADC 0'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\2884625888.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_l_data_pre['L_5SD'] = 5*np.std(tms_l_data['ADC 1'][0:500])

In [154]:
tms_r_data_pre['R_Mean'] = np.mean(tms_r_data['ADC 0'][0:500])
tms_r_data_pre['L_Mean'] = np.mean(tms_r_data['ADC 1'][0:500])
tms_r_data_pre['R_5SD'] = 5*np.std(tms_r_data['ADC 0'][0:500])
tms_r_data_pre['L_5SD'] = 5*np.std(tms_r_data['ADC 1'][0:500])
print(tms_r_data_pre)

          s     ADC 0     ADC 1    R_Mean    L_Mean     R_5SD     L_5SD
0   -0.1000  0.004520  0.004158  0.004437  0.004185  0.000527  0.000541
1   -0.0998  0.004470  0.004120  0.004437  0.004185  0.000527  0.000541
2   -0.0996  0.004482  0.003929  0.004437  0.004185  0.000527  0.000541
3   -0.0994  0.004292  0.004145  0.004437  0.004185  0.000527  0.000541
4   -0.0992  0.004361  0.004190  0.004437  0.004185  0.000527  0.000541
..      ...       ...       ...       ...       ...       ...       ...
495 -0.0010  0.004597  0.004323  0.004437  0.004185  0.000527  0.000541
496 -0.0008  0.004311  0.004063  0.004437  0.004185  0.000527  0.000541
497 -0.0006  0.004571  0.004183  0.004437  0.004185  0.000527  0.000541
498 -0.0004  0.004406  0.004088  0.004437  0.004185  0.000527  0.000541
499 -0.0002  0.004520  0.004285  0.004437  0.004185  0.000527  0.000541

[500 rows x 7 columns]

C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\683228937.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_r_data_pre['R_Mean'] = np.mean(tms_r_data['ADC 0'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\683228937.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_r_data_pre['L_Mean'] = np.mean(tms_r_data['ADC 1'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\683228937.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_r_data_pre['R_5SD'] = 5*np.std(tms_r_data['ADC 0'][0:500])
C:\Users\HyunJoon_Kim\AppData\Local\Temp\ipykernel_23872\683228937.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tms_r_data_pre['L_5SD'] = 5*np.std(tms_r_data['ADC 1'][0:500])

prestim_l = pd.DataFrame()

In [ ]:
prestim = pd.DataFrame(tms_l_data)
print(prestim)

In [ ]:
pre_stim.to_excel('prestimdata.xlsx', sheet_name = 'predata', index = False)