In [3]:
import numpy as np
import pandas as pd

In [16]:
tms_l_data = pd.read_table("Lfemi_aver.txt")
tms_l_data.head()

        s     ADC 0     ADC 1
0 -0.1000  0.004368  0.004234
1 -0.0998  0.004514  0.004183
2 -0.0996  0.004438  0.004056
3 -0.0994  0.004514  0.004139
4 -0.0992  0.004520  0.004107

In [52]:
target_index = 1


def samplingget(index):
    return 1/(tms_l_data['s'][target_index+1] - tms_l_data['s'][target_index])

In [ ]:
for i in range(0,10):
    samplingget(i)

In [10]:
tms_r_data = pd.read_table("Rfemi_aver.txt")
tms_r_data.head()

        s     ADC 0     ADC 1
0 -0.1000  0.004520  0.004158
1 -0.0998  0.004470  0.004120
2 -0.0996  0.004482  0.003929
3 -0.0994  0.004292  0.004145
4 -0.0992  0.004361  0.004190

In [2]:
A = -0.10000000
B = -0.09980000
1/(B-A)

4999.999999999857