In [1]:
import pandas as pd
import numpy as np

In [2]:
a = np.random.rand(101,3)

pd.DataFrame(a, columns=['x', 'y', 'z'])

            x         y         z
0    0.295826  0.608153  0.647407
1    0.350751  0.732818  0.291450
2    0.859762  0.526269  0.718920
3    0.353029  0.775534  0.979792
4    0.085848  0.547762  0.431366
..        ...       ...       ...
96   0.936808  0.575869  0.847230
97   0.391007  0.086658  0.776400
98   0.226883  0.716861  0.400461
99   0.846893  0.390899  0.481977
100  0.457197  0.908937  0.567648

[101 rows x 3 columns]

In [3]:
data = pd.DataFrame(a, columns=['x', 'y', 'z'])
data.to_excel('엑셀만들기.xlsx', sheet_name='1쪽',index=False)