In [3]:
import pandas as pd
import numpy as np

In [ ]:
num_length = 101

num_features = 3
z_rand_arr = np.random.rand(101, 3)

In [ ]:

data = {'x':'x', 'y':'y', 'z':'z'}
pd.DataFrame(data, index=pd.Series(np.random.rand(101)))

In [ ]:
data_subject= np.random.rand(101,3)

In [51]:
data_subject= np.random.rand(101,3)
a = np.random.rand(101,3)

pd.DataFrame(a, columns=['x','y','z'])

            x         y         z
0    0.560282  0.353379  0.019672
1    0.995522  0.047132  0.934247
2    0.676497  0.968179  0.802035
3    0.137742  0.939830  0.869899
4    0.064920  0.517863  0.139756
..        ...       ...       ...
96   0.285732  0.609307  0.002395
97   0.565516  0.510171  0.117406
98   0.469685  0.503086  0.361368
99   0.651268  0.385618  0.379115
100  0.636461  0.018719  0.841341

[101 rows x 3 columns]